<aside class="sidebar">
    <ul class="nav flex-column">
        <section class="section_sidebar">
            <div id="contenedor-secundario-sidebar">
                <ul class="menu-sidebar">
                    <li class="menu-title">Proyectos</li>
                    <li><a href="{{ url_for('inicio.index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('cliente.index') }}">Clientes</a></li>
                    <li><a href="{{ url_for('proyecto.index') }}">Proyectos</a></li>
                    {% comment %} <li><a href="{{ url_for('servicio.index') }}">Servicios</a></li> {% endcomment %}
                </ul>
            </div>
        </section>
    </ul>
</aside>