<aside class="sidebar">
    <ul class="nav flex-column">
        <section class="section_sidebar">
            <div id="contenedor-secundario-sidebar">
                <ul class="menu-sidebar">
                    <li class="menu-title">Proyectos</li>
                    <li><a href="{{ url_for('inicio.index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('proyecto.index') }}">Ver Proyectos</a></li>
                </ul>

            </div>
        </section>
    </ul>
</aside>