{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-3">

<div class="d-flex justify-content-between mb-3">

<span class="titulo-hallazgos">
<i class="bi bi-shield-check text-warning"></i>
Hallazgos - {{ ejecucion.nombre_ui }}
</span>

<a href="{{ url_for('proyecto.proyecto_cloud_workspace', proyecto_id=proyecto.id) }}"
class="btn btn-primary btn-sm py-1 px-2">
<i class="bi bi-arrow-left"></i>
Volver
</a>

</div>

<div class="d-flex justify-content-start">
    <span id="nombreProyectoyCliente" class="span-cliente-titulo badge mb-1"> 
    {{ proyecto.cliente }} - {{ proyecto.titulo }} - Cuenta ({{ proyecto.cuenta_id }})
    </span>
</div>

<div class="card shadow-sm">

<div class="card-body">

<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>RESOURCE_ID</th>
            <th>CHECK_ID</th>
            <th>Verificar</th>
        </tr>
    </thead>
    <tbody>
        {% if findings %}
        {% for f in findings %}
        <tr>
            <td>
            {{ f.resource_id }}
            </td>
            <td>
            <span class="badge bg-dark text-warning">
            {{ f.check_id }}
            </span>
            </td>
                <td>
                   <button 
onclick="verificarHallazgo({{ proyecto.id }}, {{ ejecucion.cloud_ejecuciones_id }}, '{{ f.resource_id }}', '{{ f.check_id }}')" 
class="btn btn-sm btn-secondary">
<i class="bi bi-pencil-square"></i>
</button>
                </td>
        </tr>
            {% endfor %}
            {% else %}
            <tr>
            <td colspan="3" class="text-center">No se detectaron hallazgos interesantes</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
</div>
</div>
{% include 'partials/modals/cloud/aws/mdlGestionarChecks.html' %}
{% endblock %}