html,
body {
    margin: 0;
    background: var(--color-fondo);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-principal: #6b0000;
    --color-fondo: #140000;
    --color-card: #2c0000;
    --color-borde: #8b0000;
    --color-blanco-primario: aliceblue;
    --color-blanco-secundario: rgb(216, 216, 216);
    --color-blanco-terciario: rgb(179, 179, 179);
    --color-danger: #ff3232;
    --fuente-texto: monospace;
    --fuente-titulo: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-family: var(--fuente-titulo);
}

h2 {
    font-size: 3.0rem;
    font-family: var(--fuente-texto);
}

h3 {
    font-size: 2.7rem;
    font-family: var(--fuente-texto);
}

h4 {
    font-size: 2.3rem;
    font-family: var(--fuente-texto);
}

p,input {
    font-size: .8rem;
    font-family: var(--fuente-texto);
}

span {
    font-size: .8rem;
    font-family: var(--fuente-texto);
}

label {
    font-size: .8rem;
    font-family: var(--fuente-texto);
}

ul,
li {
    font-size: .8rem;
    font-family: var(--fuente-texto);
}

tr,
th {
    font-size: .8rem;
    font-family: var(--fuente-texto);
    padding: 0;
}

#contenedor-main {
    background-color: var(--color-card);
}

#nav_principal {
    background-color: var(--color-fondo);
    display: flex;
    align-items: center;
    padding: .2rem 0;
}


#nav_principal li a {
    padding: .4rem .2rem;
}

.sidebar {
    background-color: var(--color-card);
    width: 30vh;
    min-height: 100vh;
}

.section_sidebar {
    width: 100%;
    background-color: var(--color-fondo);
    border-radius: .3rem;
    min-height: 100vh;
}

.titulo_sidebar {
    margin: 0;
    font-weight: 900;
    letter-spacing: .25rem;
}

.titulo_sidebar {
    display: block;
    text-align: center;
    margin: 0;
    font-weight: 900;
    letter-spacing: .10rem;

    color: var(--color-blanco-primario);

    /* Efecto luz */
    background: linear-gradient(90deg,
            var(--color-blanco-primario) 0%,
            var(--color-blanco-primario) 40%,
            var(--color-borde) 50%,
            var(--color-blanco-primario) 60%,
            var(--color-blanco-primario) 100%);

    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: shineText 4s linear infinite;
}

@keyframes shineText {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

#contenedor-secundario-sidebar {
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-blanco-secundario);
    border-radius: .3rem;
    padding: 1rem .5rem;
    min-height: 100vh;
}

#contenedor-secundario-sidebar ul li a {
    cursor: pointer;
}

.menu-sidebar {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.menu-title {
    font-size: .85rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: var(--color-borde);
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.menu-sidebar li {
    margin-bottom: .4rem;
}

.menu-sidebar li a {
    display: block;
    padding: .3rem .25rem;
    border-radius: .3rem;
    text-decoration: none;
    color: var(--color-fondo);
    transition: 0.2s ease;
}

.menu-sidebar li a:hover {
    background-color: var(--color-borde);
    color: white;
    transform: translateX(4px);
}

.menu-sidebar li a:active {
    background-color: var(--color-principal);
}

.table>thead>tr>th,
.table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
}

.badge-estado-activo {
    border-radius: .3rem;
    background-color: #198754;
    color: var(--color-blanco-primario);
    padding: .2rem .3rem;
    font-size: .7rem;
    font-weight: bold;
}

.badge-estado-success {
    border-radius: .3rem;
    background-color: #198754;
    color: var(--color-blanco-primario);
    padding: .2rem .5rem;
    font-size: .7rem;
    font-weight: bold;
}

.badge-tipo-proyecto {
    border-radius: .3rem;
    background-color: #007bff;
    color: var(--color-blanco-primario);
    padding: .2rem .3rem;
    font-size: .7rem;
    font-weight: bold;
}

.badge-tipo_servicio {
    border-radius: .3rem;
    background-color: #17a2b8;
    color: var(--color-blanco-primario);
    padding: .2rem .3rem;
    font-size: .7rem;
    font-weight: bold;
}

.badge-servicio-pendiente {
    border-radius: .3rem;
    background-color: #ffc107;
    color: #000;
    padding: .2rem .3rem;
    font-size: .7rem;
    font-weight: bold;
}

.badge-logo-aws {
    border-radius: .3rem;
    background-color: #ffc107;
    color: #000;
    padding: .2rem .3rem;
    font-size: .7rem;
    font-weight: bold;
    border: .1rem solid var(--color-blanco-primario)
}

.terminal-salida-herramienta {
    background: #0d1117;
    color: var(--color-blanco-secundario);
    font-family: monospace;
    font-size: 0.80rem;
    line-height: 1.4;
    padding: 1rem;
    border-radius: .4rem;
    overflow-y: auto;
    max-height: 65vh;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .6);
    white-space: pre-wrap;
    /* rompe líneas largas */
}

.terminal-herramientas {
    background: var(--color-blanco-secundario);
    padding: 1rem;
    border-radius: .4rem;
    overflow-y: auto;
    /* rompe líneas largas */
}

.s3 {font-size: .7rem; font-weight: bold; background-color: #208d20; color: var(--color-blanco-primario); padding: .1rem; }
.ec2 {font-size: .7rem; font-weight: bold; background-color: rgb(212, 138, 0); color: var(--color-blanco-primario); padding: .1rem; }
.iam {font-size: .7rem; font-weight: bold; background-color: #e23636; color: var(--color-blanco-primario); padding: .1rem; }
.api-gateway {font-size: .7rem; font-weight: bold; background-color: rgb(136, 48, 136); color: var(--color-blanco-primario); padding: .1rem; }
.aws-lambda {font-size: .7rem; font-weight: bold; background-color: rgb(212, 138, 0); color: var(--color-blanco-primario); padding: .1rem; }


.borde-terminal-salida {
    border: 2px solid #dee2e6;
    border-radius: 6px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.borde-terminal-running {
    border-color:  var(--color-principal) !important;
    box-shadow: 0 0 15px var(--color-borde);
}

.contenedor-terminal-escaneos{
    min-height: 100vh;
}

.span-cliente-titulo{
    background-color: var(--color-blanco-secundario);
    color: #000;
    border: .1rem solid var(--color-blanco-terciario);
}